* {
    margin: 0;
    padding: 0;
}
/*Raiz*/
:root {
    --font--family: 'Rosario', sans-serif;
    --background--color: rgb(188, 172, 226);

    --color--darkpurple: #6d4291;
    --max-width-container: 1000px;
}
html {
    font-size: 16px;
}
/* Body*/ 
body {
    font-family: var(--font--family);
    line-height: 1.5;
    background-color: var(--background--color);
}
.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: 'margin-one main margin-two'
    'footer footer footer';
    }
.main {
    grid-area: main;
}
.site-navigation {
    grid-area: main;
    width: 100%;
}
.view-one {
    min-height: 100vh;
}
.site-navigation-menu {
    grid-area: main;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    padding-top: 2rem;
}
.prin-title {
    color: var(--color--darkpurple);
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.525em;
    text-align: center;
    align-self: center;
    padding-top: 15%;
    padding-bottom: 15%;
    border-bottom: 1px solid var(--color--darkpurple);
}
.site-navigation a {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: .75rem 2rem;
    font-size: .85rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    color: var(--background--color);
    background-color: var(--color--darkpurple);
    border: 1px solid currentColor;
    order: 1; 
}
.site-navigation a:hover {
    color: var(--color--darkpurple);
    background-color: var(--background--color);
    border-color: var(--background--color);
}
@media (min-width: 700px) {
.presentation-prin {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'prin-text class-title';
        grid-column-gap: 50px;
        align-items: center;
    }
.presentation-prin-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'prin-text class-title';
    grid-column-gap: 50px;
    align-items: center;
    padding-top: 10%;
    }
.presentation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'mytext imagen';
        grid-column-gap: 50px;
    }
}
.mytext {
    grid-area: mytext;
    padding-top: 15%;
    padding-bottom: 15%;
}
.prin-text {
    grid-area: prin-text;
    padding-bottom: 25%;
    text-align: center;
    color: var(--color--darkpurple);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 1px solid var(--color--darkpurple);
    padding-bottom: 2rem;
}
.class-title {
    grid-area: class-title;
    text-align: center;
    color: var(--color--darkpurple);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2rem;

}
.class-title-contact {
    grid-area: prin-text;
    text-align: center;
    color: var(--color--darkpurple);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 25%;
}
/* FORMULARIO */

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: var(--color--darkpurple);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
/* Formulario de contacto*/
form.form_contact{
    width: 80%;
    padding: 30px 40px;
    margin-left: auto;
    margin-right: auto;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: var(--background--color);
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
    color: var(--background--color);
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: var(--font--family);
	color: var(--color--darkpurple);
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
	background: var(--background--color);
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: var(--color--darkpurple);
	font-family: var(--font--family);
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: var(--color--darkpurple);
    color: var(--background--color);
}

.site-footer {
    grid-area: footer;
    font-family: var(--font--family);
    color: var(--background--color);
    padding: 2rem;
    margin-top: 2rem;
    background-color: var(--color--darkpurple);
}
.deep-footer {
    display: flex;
    justify-content: space-evenly;
}
.content-footer {
    text-align: center;
}

.content-footer  h4{
    color: var(--background--color);
    border-bottom: .5px solid var(--background--color);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/*Estilos de texto*/
h1 {
    color: var(--color--darkpurple);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.525em;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h2 {
    font-weight: 500;
    color: var(--color--darkpurple);
    padding-bottom: 1.5rem;
}
h3 {
    color: var(--color--darkpurple);
    padding-bottom: 1.5rem;
}
.parrafos {
    text-align: left;
    font-weight: 300;
}
.button-teamo {
    padding: 1rem;
    color: var(--color--darkpurple);
    background-color: transparent;
    font-family: var(--font--family);
    font-weight: 700;
    font-size: 1rem;
    border: 1px solid var(--color--darkpurple);

}
.principal-img {
    grid-area: imagen;
    width: 100%; 
    height: auto;
    padding-top: 15%;
    padding-bottom: 15%;
}